div.tiddler-toc {
   background-color : #f8f8f8;
   color            : black;
   float            : right;
   font-size        : 85%;
   margin-bottom    : 0.5em;
   margin-left      : 1em;
   max-width        : 33%;
   padding          : 0.5em 1em;
   position         : relative;
   z-index          : 1;
}

div.tiddler-toc:empty {
   display : none;
}

div.tiddler-toc > .toc-heading {
   color           : inherit;
   display         : block;
   overflow        : hidden;
   text-decoration : none;
   text-overflow   : ellipsis;
   white-space     : nowrap;
}

div.tiddler-toc > .toc-heading-0 {
   border-bottom : 1px dotted black;
   cursor        : default;
   display       : block;
   font-weight   : bold;
   margin-bottom : 0.5em;
}

div.tiddler-toc > *:not(.toc-heading-0) {
   cursor : pointer;
}

div.tiddler-toc[data-collapsed] > *:not(.toc-heading-0) {
   display : none;
}

div.tiddler-toc[data-collapsed] > .toc-heading-0 {
   border-bottom : none;
   margin-bottom : 0;
}

div.tiddler-toc[data-collapsed] > .toc-heading-0::after {
   content : " [+]";
   opacity : 0.25;
}

div.tiddler-toc > *:not(.toc-heading-0):hover {
   text-decoration : underline;
}

div.tiddler-toc > .toc-heading-1 { padding-left : 0;     }
div.tiddler-toc > .toc-heading-2 { padding-left : 0.5em; }
div.tiddler-toc > .toc-heading-3 { padding-left : 1.0em; }
div.tiddler-toc > .toc-heading-4 { padding-left : 1.5em; }
div.tiddler-toc > .toc-heading-5 { padding-left : 2.0em; }
div.tiddler-toc > .toc-heading-6 { padding-left : 2.5em; }

/* Control panel styles: */

div.ttoc-ctrl-wrapper {
   width : 100%;
}

.ttoc-ctrl-input {
   display : inline-block;
   width   : calc( 100% - 5em );
}

.ttoc-ctrl-input div.ttoc-indicator {
   display : none;
}

.ttoc-ctrl-input input:not(:only-child)::placeholder {
   display    : none;
   opacity    : 0;
   visibility : hidden;
}

.ttoc-ctrl-input-checkbox {
   background-color : whitesmoke;
   line-height      : 175%;
}

.ttoc-ctrl-input-checkbox label.tc-checkbox {
   display : inline-block;
   width   : 100%;
}

.ttoc-ctrl-input-checkbox label.tc-checkbox input {
   margin-left  : 0.33em;
   margin-right : 1em;
}

.ttoc-ctrl-buttons {
   display    : inline-block;
   max-width  : 4.5em;
   min-width  : 2em;
   text-align : right;
}

.ttoc-ctrl-buttons button {
   font-weight : bold;
}

.ttoc-ctrl-buttons button:first-child:disabled {
   opacity : 0.25;
}

.ttoc-ctrl-buttons button:not(:first-child):disabled {
   opacity : 0.85;
}

.ttoc-ctrl-buttons button.eqdef {
   color : green;
}

/*
Uncomment and adjust the following rule if you're wiki has a fixed
height top bar. It is recommended to put this (or any other overrides)
in a separate style sheet tiddler.
*/

/*
h1, h2, h3, h4, h5, h6 {
   scroll-margin-top: 0;
}
*/
