div.copyCode {
   position : relative;
}

div.copyCode .tc-btn-invisible {
   display : none;
}

div.copyCode:hover .tc-btn-invisible {
   display    : block;
   font-size  : 1.25em;
   margin-top : -0.65em;
   position   : absolute;
}

div.copyCode:hover .tc-btn-invisible.copy {
   right : 0.5em;
}

div.copyCode:hover .tc-btn-invisible.download {
   right : 2em;
}

div.copyCode:hover .tc-btn-invisible:disabled {
   display : none;
}
